.mini-toolbar
{
    background: white;
}
fieldset
{
	border:solid 1px #aaa;
}        
.hideFieldset
{
	border-left:0;
	border-right:0;
	border-bottom:0;
}
.hideFieldset .fieldset-body
{
	display:none;
}